{
  "USERNAME":  "your clickatell username",
  "PASSWORD":  "your clickatell password",
  "API_ID":    "the http api id",
  "SENDER_ID": "+4412312345678",
  "PHONE_BOOK": {
    "myself":   "4412334567890"
  },
  "ALLOWED_RECIPIENT": {
    "smsmaker@wahtever.com": "smsmaker@whatever.com"
  },
  "ALLOWED_SENDER": {
    "first.user@domain.com": "first.user@domain.com",
    "second.user@domain.com": "second.user@domain.com",
    "third.user@domain.com": "third.user@domain.com",
    "fourth.user@domain.com": "fourth.user@domain.com"
  },
  "MAILUSER":  "your email user",
  "MAILPASS":  "your email password",
  "MAILHOST":  "your pop3 server",
  "MAILPORT":  "110",
  "MAILTIME":  "240",
  "POPLOOP":   "300",
  "SMTPUSER":  "your smtp user",
  "SMTPPASS":  "your smtp password",
  "SMTPHOST":  "your smtp server",
  "SMTPSENDER": "the sender of the ack email",
  "SMTPPORT":  "25",
  "SMTPTIME":  "240"
}
